#video {
  border: 1px solid #999;
  width: 100%;
  max-width: 800px;
  margin: 4px;
  padding: 4px;
}

button{
  border: 1px solid green;
  margin: 3px;
  padding: 2px;
}

.error {
  color: red;
}

.warn {
  color: orange;
}

.info {
  color: darkgreen;
}

input{
  font-size: 120%;
  padding: 10px;
}

.contentA{
  width: 70%;
  border: 1px solid #999;
  margin: 4px;
  padding: 4px;
 }

 .contentB{
  width: 30%;
  border: 1px solid #999;
  margin: 4px;
  padding: 4px;
 }
  
 .main{
  display: flex;
  border: 1px solid red;
  margin: 4px;
  padding: 4px;
 }

/* timer */
.timerBtn{
  width: 80px;
  height: 30px;
  border: 3px solid;
  margin: 4px;
  border-radius: 12px;
  background-color: #333333;
  color: white;
  cursor: pointer;
  font-family: consolas, monospace;
}

#timeDisplay{
  margin: 4px;
  font-size: 74px;
  color: #40c437;
  font-family: consolas, monospace;
}

#timeContainer{
  margin-top: 50%;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
  text-align: center;
  border: 3px solid;
  border-radius: 25px;
  background-color: #222222;
}